@charset "utf-8";
/* CSS Document */
html{-webkit-text-size-adjust:none;/*解决谷歌小于12px字体*/}
/*layout*/
body.curr{
  background:#ffffff;
}
body{ font-size:13px; font-family: "Microsoft YaHei"; color:#666666; background:#ffffff;}
a:link {
	color:#555555;
	text-decoration:none;
}
a:visited {
	color:#555555;
	text-decoration:none;
}
a:hover {
	color:#ff0000;
	text-decoration:underline;
}
.head {
	width:100%;
	height:170px;
	background:#ffffff;
}


/*头部上面代码开始*/

.head_top {
	width:100%;
	height:38px;
	background:#fafafa;
	border-bottom:1px solid #d5d5d5;
}
.head_top_main {
	width:1200px;
	height:38px;
	margin:0 auto;
	line-height:38px;
}
.head_top_main .key {
	float:right;
}
.head_top_main .key span {
	margin:0 10px;
}
.head_top_main i {
	background:url(../images/down_arr.png) no-repeat 1px 3px;
	padding:0 8px;
	margin-left:5px;
	font-weight:normal;
	width:13px;
	height:15px;
}

/*头部中间代码开始*/
.head_mid {
	width:1200px;
	height:100px;
	padding-top:32px;
	z-index:10;
	margin:0 auto;
}
.logo {
	height:79px;
	float:left;
	background:url(../images/logo.png) no-repeat;
}
.logo a {
	display:block;
	width:430px;
	height:71px;
}
.search {
	float:left;
	margin-top:13px;
	margin-left:70px;
}
.search_text{
	width: 290px; 
	height:37px; 
	line-height:37px; 
	border:1px solid #ff0000;
	background:url(../images/search.png) no-repeat 10px 10px;
	float:left;
	padding-left:45px;
	color:#555555;
	font-family: "Microsoft YaHei";
	color:#a7a5a5;
}
.search_btn{
    padding:0 15px;
	height:39px; 
	background:#ff0000; 
	border:none; 
	cursor:pointer;
	color:#ffffff;
	font-weight:bold;
	font-size:16px;
	font-family: "Microsoft YaHei";	
	margin-right:15px;
	margin-left:0px;
}
.search .hot{
	clear:both;
	width:400px; 
	height:30px; 
	line-height:30px; 
	overflow:hidden; 
}
.search .hot a{
	margin-right:10px;
}
.search .hot a:link{
	text-decoration:none;
}
.search .hot a:visited{
	text-decoration:none;
}
.search .hot a:hover{
	color:#ff7e00;
	text-decoration:none;
}

.goto_car{
     width:90px;
	 padding-left:30px;
	 height:37px;
	 border:1px solid #dddddd;
	 background:url(../images/car.png) 5px no-repeat #f9f9f9;
	 float:right;
	 margin-top: 13px;
}
.goto_car a{
	display:block;
	width:60px;
	height:37px;
	padding-right:30px;
	background: url(../images/car_arrow.png) 70px 13px no-repeat;
	font-size:12px;
	line-height:40px;
	color:#323232;
	position:relative;
}
.goto_car a b{
    width:22px;
	height:22px;
	background:url(../images/car_count.png) no-repeat center;
	right:10px;
	top:-11px;
	display:block;
	font-style:normal;
	position:absolute;
	color:#ffffff;
	line-height:22px;
	padding-left:4px;
	text-align:center;
}
/*导航代码开始*/

.nav {
    width: 100%;
    height: 45px;
    border-bottom: 2px solid #ff0000;
    clear: both;
    font-size: 16px;
    color: #ffffff;
    background-color: #fff;
}
.nav_main {
    width: 1200px;
    height: 45px;
    line-height: 45px;
    margin: 0 auto;
    position: relative;
    z-index: 9999;
}
.nav_main .jsddmli {
    width: 110px;
    height: 41px;
    float: left;
    text-align: center;
    margin-right: 5px;
}
.nav_main .jsddmli a {
    display: block;
    height: 45px;
	background:url(../images/nav_line.png) no-repeat left center;
}
.nav_main .jsddmli a.other{
	background-image:none;
}
.left_nav {
    width: 230px;
    height: 45px;
    float: left;
    color: #FFF;
    cursor: pointer;
	padding-right:7px;
	background:url(../images/nav_l.png) no-repeat right bottom;
}
.left_nav h1 {
    padding-left: 68px;
	background:url(../images/good_icon.png) no-repeat 30px #ff0000;
}
 /*左侧导航代码开始*/
.all-goods {
    width: 230px;
    height: 450px;
    overflow: visible;
    position: absolute;
    top: 45px;
    left: 0px;
	background-color:#000000;
	opacity:0.78;
	filter:alpha(opacity=78);
	padding:15px 0;
}
.nav .all-goods {
    color:#666666;
}
.all-goods .item {
    width: 228px;
    height: 40px;
}
.all-goods .item .product {
    position: absolute;
    z-index: 999;
    width: 230px;
}
.all-goods .posone {
    left: 229px;
    top: 1px;
}
.all-goods .product-wrap {
    position: absolute;
    height: 480px;
    width: 740px;
    z-index: 99;
    display: none;
    background-color: #ffffff;
    filter: alpha(opacity=1);
    -moz-opacity:1;
    -khtml-opacity:1;
    opacity: 1;
}
.all-goods .item .product h3 {
    width: 228px;
    height: 40px;
    font-size: 15px;
    font-weight: normal;
    line-height: 40px;
    cursor: pointer;
}
.all-goods .item .product h3 span {
    width: 162px;
    margin: 0 20px;
    padding-left: 28px;
    display: inline-block;
	color:#ffffff;
	background:url(../images/arr_r.png) right center no-repeat;
}
.all-goods .item .product h3 span:hover{
	color:#ff0000;
}
.all-goods .product-wrap .cf{
	padding:15px 10px;
	overflow:hidden;
	float:left;
}
.all-goods .product-wrap .pro_box {
    line-height:32px;
    height: auto;
    color: #fff;
    font-size: 12px;
    float: left;
	width:700px;
	margin:0px 10px;
	position:relative;
}
.all-goods .product-wrap .pro_box span.pro_two{
	font-weight:bold;
	color:#000000;
	display:block;
	float:left;
	width: 100px;
	font-size:14px;
	text-align:right;
	padding-left:0px;
}
.all-goods .product-wrap span.pro_two a{
	border-left:0px;
	padding:0 5px;
}
.pro_three{
    position:relative;
	width: 595px;
	float:left;
	border-bottom:1px dashed #dddddd;
}
.all-goods .product-wrap .pro_box span {
    font-size: 12px;
	float:left;
	margin-left:5px;
	text-align:left;
}
.all-goods .product-wrap .pro_box a {
    padding:0 10px;
	color: #0E0E0E;
	font-size:14px;
	border-left:1px solid #dddddd;
}

/*banner代码开始*/
#full-screen-slider { 
	width:1200px;
	margin:0 auto; 
	height:480px; 
	clear:both; 
	position:relative;
}
#slides { 
	width:1200px; 
	height:480px; 
	position:relative; 
	z-index:1; 
}
#slides li { 
	width:1200px; 
	height:480px; 
	overflow:hidden; 
	float:left; 
	position:absolute;
}
#slides li a { 
	display:block; 
	width:100%; 
	height:480px;
}
#pagination {
    display: block;
    list-style: none;
    z-index: 999;
	margin:0 auto;
	text-align:center;
	width:120px;
	position:relative;
	bottom:50px;
}
#pagination li {
    display: block;
    list-style: none;
    width: 12px;
    height: 12px;
    float: left;
    margin-left: 15px;
    background: #afb5be;
    border-radius: 100%;
}
#pagination li a { 
	display:block; 
	width:100%; 
	height:100%; 
	padding:0; 
	margin:0;  
	text-indent:-9999px;
}
#pagination li.current {
    background: #646464;
}

/*注册登录开始*/
.slider_r{
    width:230px;
	height:480px;
	background-color:#000000;
	opacity:0.68;
	filter:alpha(opacity=68);
	position:absolute;
	right:0px;
	top:0px;
	z-index:1000;
}
.slider_r .sign{
    padding-left:70px;
	background: url(../images/sign.png) no-repeat 20px center;
    width: 144px;
    height: 80px;
	margin-top:40px;
	margin:40px 8px;
	border-bottom:1px dashed #ffffff;
}
.slider_r .sign p{
	color:#ffffff;
	height:30px;
	line-height:30px;
	font-size:13px;
	margin-top: 10px;
	float: left;
}
.sign_main input.sigin_in{
	padding:0px 10px;
	color:#ffffff;
	border:1px solid #ff0000;
	background-color:#ff0000;
	float:left;
	clear:both;
	border-radius:2px;
	font-size:13px;
}
.sign_main input.register{
	padding:0px 10px;
	color:#ff0000;
	border:1px solid #ff0000;
	background-color:#ffffff;
	float:left;
	border-radius:2px;
	font-size:13px;
	margin-left:5px;
	
	}
.sign_main{
    width:100%;
	height:100%;
}
/*注册登录结束*/
/*平台公告开始*/
.news{
	width:100%;
	margin-bottom:10px;
}
.news .news_title{
	background-color:#dbdbdb;
	color:#ff0000;
	fon-size:16px;
	height:30px;
	line-height:30px;
	padding:0 10px;
}
.news .new_more{
	float:right;
	font-size:12px;
	color:#ff0000;
}
.new_main{
    margin:8px;
	padding:15px 0;
	border-bottom:1px dashed #ffffff;
	list-style-type:none;
}
.new_main li a{
	height:25px;
	line-height:25px;
	color:#ffffff;
	display:block;
	width:100%;
}
/*平台公告结束*/
.sign_btns{
    width:140px;
	height:50px;
	padding-left:60px;
	border-radius:4px;
	margin:15px auto 0 auto;
	opacity:1;
}

.sign_btns a{
	width:100%;
	height:46px;
	line-height:46px;
	background-color:#ffffff;
	font-size:20px;
	color:#ff0000;
	float:left;
	opacity:1;
	border-radius: 0px 4px 4px 0px;
	text-align:center;
	border:2px solid #ff0000;
}
.purchaser_btn{
	background:url(../images/purchaser.png) no-repeat 10px #ff0000;
}

.supplier_btn{
	background:url(../images/supplier.png) no-repeat 10px #ff0000;
}
.wrapper{
	width:1200px;
	margin:0 auto;
}
.content_c{
	margin:20px auto;
	width:1200px;
	float:left;
}
.ser_route{
    width:224px;
	height:auto;
}
.ser_route .current_time{
	line-height:20px;
	margin-top:15px;
	float:right;
}
.ser_route h2{
	width:100%;
	float:left;
	height:36px;
	line-height:36px;
	border-bottom:1px solid #8d8d8d;
	font-weight:normal;
}
.ser_route h2 span{
	float:left;
	display:block;
	padding:0 5px;
	height:35px;
	line-height:35px;
	border-bottom:2px solid #ff0000;
	font-size:20px;
}
.ser_btns{
	background-color:#f5f5f5;
	width:202px;
	padding:10px;
	float:left;
	margin-top:10px;
	height:190px;
}
.route_btn{
	padding-left:50px;
	font-size:16px;
	height:38px;
	line-height:38px;
	margin:5px 0;
	display:block;
	float:left;
	width:150px;
}
a.zbtb{
	background: url(../images/service_01.png) no-repeat 5px center;
}
a.lxwm{
	background: url(../images/service_02.png) no-repeat 5px center;
}
a.pgt{
    background: url(../images/service_03.png) no-repeat 5px center;
	font-size:14px;
}
a.ggl{
	background: url(../images/service_04.png) no-repeat 5px center;
	font-size:14px;
}
.hot_new{
	width:730px;
	margin-left:10px;
}
.hot_new .menue{
	border-bottom:2px solid #ff0000;
	float:left;
	width:730px;
}
.hot_new .menue li{
	list-style-type:none;
	font-size:18px;
	float:left;
	padding:0 15px;
	height:35px;
	line-height:35px;
	margin:0 10px 0 0;
	cursor:pointer;
}
.hot_new .menue li:hover,.hot_new li.selected{
    color:#ffffff;
	background-color:#ff0000;
}
.menue_main{
	float:left;
	margin-top:10px;
	background-color:#f5f5f5;
	height:210px;
}
.menue_main ul{
	float:left;
	clear:both;
}
.menue_main ul li{
	width:710px;
	height:32px;
	line-height:32px;
	font-size:16px;
	margin-right:0px;
	padding:0 10px;
}
.menue_main ul li red{
	color:#ff0000;
}

.more_line{
     float:left;
	 width:710px;
	 height:37px;
	 line-height:37px;
	 padding:0 10px;
}
.more_line a{
	color:#ff0000;
	float:right;
	font-size:14px;
}
.ser_border{
	border:1px solid #dddddd;
}
.cur_state{
	padding:15px;
	border:1px solid #dddddd;
	width:170px;
	height:160px;
	background:url(../images/ptsk.jpg) no-repeat center bottom #ffffff;
}
.cur_state ul li{
	height:35px;
	line-height:35px;
	padding-left:23px;
	background: url(../images/list_icon.png) no-repeat 5px;
	border-bottom:1px dashed #b9b9b9;
}

/*限时抢购开始*/
.limit_buy{
    height:59px;
	line-height:59px;
	background:url(../images/xsqg.png) no-repeat left top #ff0000;
	font-size:24px;
	color:#ffffff;
	padding-left:78px;
}
a.special_price{
    font-size:16px;
	padding-right:20px;
	color:#ffffff;
	margin-left:30px;
	background:url(../images/xsqbt.png) right no-repeat;
}
.time_count{
	float:right;
	font-size:16px;
	color:#ffffff;
	margin-right:10px;
}
.time_count span{
	background-color:#440106;
	line-height:30px;
	font-size:17px;
	font-weight:bold;
	color:#ff0000;
	padding: 5px 5px;
	border-radius:4px;
}
.limit_pro {
    float: left;
    width: 1200px;
    padding-top: 10px;
}

.limit_pro dl {
    height:276px;
}
.limit_pro dl dd {
    width: 190px;
    height: 275px;
    float: left;
    padding: 2px 19px;
    background-color: #ffffff;
    border: 1px solid #e2e2e2;
    margin:0 5px;
}
.limit_pro dl dd:hover{
	border:2px solid #ff0000;
	padding:1px 18px;
} 
.limit_pro .product_photo {
    text-align: center;
	margin-top:10px;
}
.limit_pro .product_name {
    line-height: 18px;
    padding-top: 5px;
    height: 36px;
    overflow: hidden;
	font-size:15px;
}
.limit_pro .price {
    height: 40px;
}
.limit_pro .product_price {
    font-size: 20px;
    color: #d72727;
    font-weight: bold;
    line-height: 40px;
    height: 40px;
    float: left;
}

/*限时抢购结束*/
a.action_pic{
	width:100%;
	height:100%;
	display:block;
	float:left;
}
/*热销推荐开始*/
.ng_scope{
    height: 390px;
	width: 100%;
	background-color: #cdeafe;
	overflow: hidden;
	padding-top: 10px;
	position: relative;
}
.recommend_left {
    width: 210px;
    height: 380px;
	float:left;
}
.recommend-left img {
    width: 100%;
	height:100%;
}
.recommend_right {
    height: 380px;
    width: 970px;
    overflow: hidden;
    background-color: inherit;
    padding: 0 10px;
}
.ehsy_content {
    width: 970px;
    height: 380px;
    overflow: hidden;
    position: relative;
}
.ehsy_li{    
	display: inline-block;
    font-size: 12px;
	width:981px;
	height:390px;
	overflow:hidden;
	position:absolute;
	left:981px;
	top:0px;
}
.recommend_div{
	width: 250px;
	height: 360px;
	overflow: hidden;
	background-color: #fff;
	padding: 10px;
	position:relative;
	float:left;
}
.recommend_img{
	position:relative;
}
.recommend_img,.recommend_img ,.recommend_img img{
	width: 240px;
	height: 240px;
	margin:0 auto;
	display:block;
}
.recommend_div:hover img{
	width:245px;
	height:245px;
	position:absolute;
	top:-5px;
	left:-5px;
}
.product_name{
	margin: 10px 0 3px 0;
	height: 36px;
	overflow:hidden;
	font-size: 14px;
	line-height: 18px;
	display: inline-block;
	width: 100%;
	font-family: "Micorsoft Yahei", "黑体", sans-serif;
}
.product_num{
	color:#979595;
	font-size:13px;
	margin-top:10px;
}
.product_num.product_money{
	margin: 7px 0 0 0;
	overflow: hidden;
}
.recommend_price .now_money{
	font-size:14px;
	color:#d50000;
}
.sprite_ico_cart{
    width: 32px;
    height: 32px;
	background: url(../images/hot_car.png) no-repeat center;
	display:none;
	position: absolute;
	right: 10px;
	bottom: 10px;
	cursor: pointer;
}
.recommend_box:hover .sprite_ico_cart{
	display:block;
}
.recommend_div:hover .sprite_ico_cart{
    display:block;
}
.recommend_box{
	background-color:#ffffff;
	width:340px;
	height:185px;
	float:left;
	margin-left:10px;
	margin-bottom:10px;
}
.recommend_r{
	float:left;
	width:700px;
	margin-right:10px;
}
.recommend_r_img{
	margin-top:20px;
	margin-left:10px;
	position:relative;
}
.recommend_r_img,.recommend_r_img a,.recommend_r_img img{
	float:left;
	width:150px;
	height:150px;
	display:block;
}
.recommend_box:hover img{
	position: absolute;
	top:-3px;
	left:-3px;
	width:153px;
	height:153px;
}
.recommend_main{
	float:left;
	width:155px;
	height:165px;
	padding:10px 10px 10px 15px;
	position:relative; 
}
.recommend_main .main_num{
	margin-top:4px;
	margin-bottom:15px;
}
.dots_ul{
	position:absolute;
	left:20px;
	top:88px;
}
.dots_ul b{
	border:1px solid #188ede;
	width:15px;
	height:15px;
	border-radius:100%;
	float:left;
	margin-right:5px;
	display:block;
	cursor:pointer;
}
.dots_ul b.down{
	background-color:#188ede;
}
.change_box{
	position:absolute;
	width:970px;
	top:171px;
	height:0px;
	overflow:visible;
}
.prev{
	float:left;
	width:41px;
	height:56px;
	background:url(../images/pre.png) no-repeat center;
	cursor:pointer;
	display:block;
}
.next{
	float:right;
	width:41px;
	height:56px;
	background:url(../images/next.png) no-repeat center;
	z-index:100;
	cursor:pointer;
	display:block;
}
/*热销推荐结束*/
/*品牌中心开始*/
.brand_title{
	height:20px;
	padding:0 0 0 10px;
	border-left:3px solid #ff0000;
	line-height:20px;
	font-size:20px;
	width:1187px;
}
.brand_all{
	float:right;
	font-size:14px;
}
.brand_main{
	width:100%;
	height:100%;
	background-color:#ffffff;
	margin-top:12px;
}
.brand_box{
	margin-right:3px;
	float:left;
	position:relative;
	margin-bottom:3px;
}
.brand_box,.brand_box a,.brand_box img{
	width:130px;
	height:100px;
	display:block;
	background-color:#f3f3f3;
}
.brand_box:hover .showname{
	display:block;
}
.showname{
	display:none;
	height: 100px;
	background: rgba(0, 0, 0, 0.5) !important;
	position: absolute;
	bottom: 0px;
	width: 130px;
	filter: Alpha(opacity=50);
	background: black;
	cursor:pointer;
}
.show_title {
    margin: 0 auto;
    margin-top: 15px;
	text-align:center;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 98px;
    overflow: hidden;
    display: block;
    color: white;
    font: 12px 'Microsoft YaHei', '黑体', 'sans-serif';
}
.show_brand {
    position: absolute;
    top: 41px;
    left: 44px;
    color: white;
    display: block;
    color: white;
    font: 12px 'Microsoft YaHei', '黑体', 'sans-serif';
}
.show_btn {
    position: absolute;
    top: 20px;
    left: 23px;
    width: 80px;
    height: 24px;
    background-color: #fd5353;
    text-align: center;
    margin: 0 auto;
    margin-top: 42px;
}
.show_enter {
    position: absolute;
    top: 3px;
    left: 15px;
    color: white;
    font: 12px 'Microsoft YaHei', '黑体', 'sans-serif';
}
/*品牌中心结束*/

/*产品分类开始*/
.pro_kinds{
	width:50%;
	border-top:2px solid #8ddf63;
	border-bottom:1px solid #bfbfbf;
	float:left;
	height:353px;
}
.pro_kinds .kinds_left,.pro_kinds .kinds_left a{
	width:187px;
	height:353px;
	display:block;
	float:left;
}
.pro_kinds .kinds_left img{
	width:187px;
	height:353px;
}
.kinds_right{
	width:412px;
	height:353px;
}
.kinds_right ul li{
	width:180px;
	margin:0px 3px;
	padding:5px 10px;
	float:left;
	height:135px;
	position:relative;
}
.kinds_right ul li a.kinds_box{
	display:block;
	width:180px;
	height:135px;
	position:absolute;
	top:0px;
	left:0px;
}
.kinds_right ul li:hover .kind_r{
	margin-right:3px;
}
.kinds_right ul li .kind_l h4{
	font-size:16px;
	color:#010101;
	height:25px;
	line-height:25px;
	font-weight:normal;
	float:left;
	width:180px;
}
.kinds_right ul li .kind_l a.look{
	clear:both;
	padding:2px 8px;
	color:#ffffff;
	font-size:13px;
	background-color:#8ddf63;
	border-radius:4px;
	margin-top:10px;
	float:left;
}
.primary_pp{
	width:100%;
	height:63px;
	border-top:1px solid #bfbfbf;
}
.primary_pp .primary_box{
	height:53px;
	width:87px;
	display:
	block;
	float:left;
	margin:3px 20px;
}
.primary_pp img{
    height:53px;
	width:87px;
}
.primary_pp .primary_box:hover img{
	opacity:0.8;
}
.bgyp_kinds{
	border-top:2px solid #fd6d6e;
}
.bgyp_kinds ul li .kind_l a.look{
	background-color:#fd6d6e;
}
.rhfh_kinds{
	border-top:2px solid #4cbaef;
}
.rhfh_kinds ul li .kind_l a.look{
	background-color:#4cbaef;
}
.rcwx_kinds{
	border-top:2px solid #f87a26;
}
.rcwx_kinds ul li .kind_l a.look{
	background-color:#f87a26;
}
.hgyp_kinds{
	border-top:2px solid #998bc7;
}
.hgyp_kinds ul li .kind_l a.look{
	background-color:#998bc7;
}
.dqyb_kinds{
	border-top:2px solid #49c5c7;
}
.dqyb_kinds ul li .kind_l a.look{
	background-color:#49c5c7;
}

/*产品分类开始*/
/*服务开始*/
.ser_bz{
	height:70px;
	line-height:70px;
	padding-left:80px;
	font-size:20px;
}
.ser_bz.zheng{
	background:url(../images/zheng.png) no-repeat 10px center;
}
.ser_bz.hui{
	background:url(../images/hui.png) no-repeat 10px center;
}
.ser_bz.xiang{
	background:url(../images/xiang.png) no-repeat 10px center;
}
.services ul li {
    width: 120px;
    float: left;
    height: 160px;
    padding:0 40px 0 40px;
    text-align: left;
}
.services ul li h1 {
    font-size: 16px;
    font-weight: normal;
    color: #000;
    line-height: 40px;
}
.services ul li p {
    line-height: 24px;
}
.services ul li.zxkf{
	width:250px;
	float:right;
}
.services_c{
	margin-left:30px;
}
.services_r{
	width:930px;
	margin-left:80px;
	margin-top:25px;
}
/*服务结束*/

/*底部开始*/
.fotter {
    width: 100%;
    clear: both;
    text-align: center;
	padding:10px 0 20px 0;
}
.fotter_nav {
    padding: 20px 0 10px 0;
    width: 1200px;
    margin: 0 auto;
}
.fotter_nav span {
    margin: 0 15px;
}
.fotter p{
	height:24px;
	line-height:24px;
}
/*底部结束*/